{% extends "templates/form-layouts-vertical.html" %}
{% load static %}

<!-- tile tag -->
{% block title %}title1{% endblock %}

<!-- link stylesheet tag -->
{% block stylesheet  %}
<link rel="stylesheet" href="{% static 'assets/vendor/libs/bs-stepper/bs-stepper.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/libs/bootstrap-select/bootstrap-select.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/libs/formvalidation/dist/css/formValidation.min.css' %}" />
{% endblock %}

{% block nav %}

{% endblock %}

{% block content %}
                <div class="layout-wrapper layout-content-navbar">
                  <div class="layout-container">
          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="py-3 breadcrumb-wrapper mb-4">
                <span class="text-muted fw-light">Image Annotation/</span>Import
              </h4>
              <!-- Default -->
              <div class="row">
                <div class="col-12">
                  
                </div>

                <!-- Default Wizard -->
                <div class="col-12 mb-4">
                 
                  <div class="bs-stepper wizard-numbered mt-2">
                    <div class="bs-stepper-header">
                      <div class="step" data-target="#account-details">
                        <button type="button" class="step-trigger">
                          <span class="bs-stepper-circle">1</span>
                          <span class="bs-stepper-label">
                            <span class="bs-stepper-title">Import Project</span>
                          </span>
                        </button>
                      </div>
                      <div class="line"></div>
                      <div class="step" data-target="#personal-info">
                        <button type="button" class="step-trigger">
                          <span class="bs-stepper-circle">2</span>
                          <span class="bs-stepper-label">
                            <span class="bs-stepper-title">video</span>
                          
                          </span>
                        </button>
                      </div>
                     
                    </div>
                    <div class="bs-stepper-content">
                      <form onSubmit="return false"><br>
                        <!-- Account Details -->
                        <div id="account-details" class="content">
                          <div class="content-header mb-3">
                            <h6 class="mb-0">IMPORT FILE</h6>
                           
                          </div>
                          <div class="row g-3">
                            <div class="col-sm-6">
                              <form>
                                <input type="file" id="file-input">
                                <button type="button" id="choose-file-btn">Choose file</button>
                              </form>
						   <div class="form-group form-check">
                                  <input type="radio" id="option1" name="options" class="form-check-input">
                              <label for="option1" class="form-check-label">Upload from existing</label>
							</div>
						    <div class="form-group form-check">
							  <input type="radio" id="option2" name="options" class="form-check-input">
							   <label for="option2" class="form-check-label">Create new</label>

                            </div>


                            </div>
                            <div class="col-12 d-flex justify-content-between">
                              <button class="btn btn-label-secondary btn-prev" disabled>
                                <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                                <span class="d-sm-inline-block d-none">Previous</span>
                              </button>
                              <button class="btn btn-primary btn-next">
                                <span class="d-sm-inline-block d-none">Next</span>
                                <i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                        <!-- Personal Info -->
                        <div id="personal-info" class="content">
                          <div class="content-header mb-3">
                          
                            <h6 class="mb-0">Import video</h6>
                            
                          </div>
                          <div class="row g-3">
                            <div class="col-sm-6">
                              <label class="form-label" for="first-name">choose video</label>
							  <br><br>
                              <input class="form-control" type="file" id="formFileMultiple" multiple />
							  <br><br>
							   <a href="#" id="convertToFramesBtn" class="btn btn-primary btn-sm">CONVERT TO FRAMES</a>
	                         
                            </div>
                            
							
                            <div class="col-12 d-flex justify-content-between">
                              <button class="btn btn-primary btn-prev">
                                <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                                <span class="d-sm-inline-block d-none">Previous</span>
                              </button>
                              <button class="btn btn-primary btn-submit">
                                submit
                              </button>
                          </div>

                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- /Default Wizard -->

              </div>
          

                </div>

              </div>
            </div>
            <!-- / Content -->

           

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>

      <!-- Drag Target Area To SlideIn Menu On Small Screens -->
      <div class="drag-target"></div>
    </div>
    <!-- / Layout wrapper -->
{% endblock %}

{% block script %}
<!-- Page JS -->
{% comment %} <script src="{% static 'assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js' %}"></script>
<script src="{% static 'assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js' %}"></script>
<script src="{% static 'assets/js/form-wizard-numbered.js' %}"></script>
<script src="{% static 'assets/js/form-wizard-validation.js' %}"></script> {% endcomment %}

{% endblock %}

